<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Barbershop</title>
		<style type="text/css">
		   H1 { 
		    font-size: 120%; /* Размер шрифта */
		    font-family: Verdana, Arial, Helvetica, sans-serif; /* Семейство шрифта */
		    color: #336; /* Цвет текста */
		   }
		   p {
			   font-size: 100%;
			   font-family: Helvetica, Arial, sans-serif;
		   }
		  </style>
		  
	</head>
	<body>
<h1>Welcome to barbershop!</h1>
<p> We r openn!
<form action='/' method='POST'>
	<p> Enter name:
	<input type='text' name='username' />
	<p> Enter phone:
	<input type='text' name='phone' />
	<p> Enter date and time:
	<input type='text' name='date_time' />
	<br />
	<input type='submit' />
</form>
</body>
</html>